
<div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 100px); margin-top: 100px;">
    <h2>Login 2FA</h2>
    <form id="loginForm" onsubmit="event.preventDefault(); AuthLb.verify2fa();">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="otp" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</div>


