<div id="h_logo"><a id="logo_link_override" href="#" data-route="/">TRANSCENDENCE.</a></div>
<!-- --------------- -->
<div class="language_switcher_container" id="languageSwitcher">
<button class="language-switcher" data-lang="en">EN</button>
<button class="language-switcher" data-lang="es">ES</button>
<button class="language-switcher" data-lang="fr">FR</button>
</div>
<div class="h_basic" id="h_tournaments"><a href="#tournaments">TOURNAMENT</a></div>
<div class="h_basic" id="h_scores"><a href="#scores">SCORES</a></div>
<div id="h_profile"> <a href="#profile">PROFILE</a></div>
<div id="h_logout"> <a onclick="AuthLb.logout()">LOGOUT</a></div>