
<div class="tr_header">
    <div id="h_logo_container"><a href="#"><img id="h_logo" src="../media/Transcendence_Logo.svg"></a></div>
    <div id="h_flag_container">
        <button class="h_flag_button"><img class="h_flag" src="../media/spanish_flag.svg" data-lang="es"></button>
        <button class="h_flag_button"><img class="h_flag" src="../media/uk_flag.svg" data-lang="en"></button>
        <button class="h_flag_button"><img class="h_flag" src="../media/french_flag.svg" data-lang="fr"></button>
    </div>
    <a href="#scoreboard"><div class="h_basic">SCOREBOARD</div></a>
    <a href="#register"><div id="h_register">SIGNUP</div></a>
    <a href="#login"><div id="h_login">LOGIN</div></a>
</div>