<div id="splash_panel"><b>Two games.<br>Millions of<br>possibilities.</b>
    <a href="#register"><div id="splash_subtitle">Show your skill!</div></a>
</div>
<div id="splash_center_panel">
    Join now and start playing. Fun and<br>competition await you!
</div>
<div id="games_header">
    <b>Get to know our games</b>
</div>
<div id="games_textbox">
    This is where true players meet! Two games, infinite<br>
    possibilities to make friends, share strategies, and of course, win.<br>
    Are you in?
</div>
<div id="games_container">
    <div class="game_card">
        <div class="game_image"></div>
        <p class="game_title">PONG</p>
        <p class="game_subtitle">Created by: </p>
    </div>
    <div class="game_card">
        <div class="game_image"></div>
        <p class="game_title">TIC-TAC-TOE</p>
        <p class="game_subtitle">Created by: </p>
    </div>
</div>