<div id="splash_panel"><b>Two games.<br>Millions of<br>possibilities.</b>
    <a href="#register"><div id="splash_subtitle">Show your skill!</div></a>
</div>
<div id="splash_center_panel">
    Join now and start playing. Fun and<br>competition await you!
</div>
<div id="games_header">
    <b>Get to know our games</b>
</div>
<div id="games_textbox">
    This is where true players meet! Two games, infinite<br>
    possibilities to make friends, share strategies, and of course, win.<br>
    Are you in?
</div>
<div id="games_container">
    <a href="#pong">
    <div class="game_card">
        <div class="game_image">
            <img src="media/pong.png" alt="Pong">
        </div>
        <p class="game_title">PONG</p>
        <p class="game_subtitle">Created by: </p>
    </div>
    </a>
    <a href="#tictactoe">
    <div class="game_card">
        <div class="game_image">
            <img src="media/TicTacToe.png" width="100%" alt="TicTacToe">
        </div>
        <p class="game_title">TIC-TAC-TOE</p>
        <p class="game_subtitle">Created by: </p>
    </div>
    </a>
</div>
<hr class="hr_footer">
<div id="footer_container">
    <img id="footer_logo" src="media/Trascendence_Square_Logo.svg">
    <p id="footer_credits">FT_Transcendence has been created by the team [NOMBRE] for 42 Málaga.<br><br>
    [NAME 1] - [JOB PERFORMED]<br>
    [NAME 2] - [JOB PERFORMED]<br>
    [NAME 3] - [JOB PERFORMED]<br>
    [NAME 4] - [JOB PERFORMED]<br>
    [NAME 5] - [JOB PERFORMED]</p>
</div>
    <!--footer here-->