<div id="pr_structure">
    <div id="pr_sidebar">
        <img id="pr_user_image" src="/media/Profile_avatar_placeholder_large.png">
        <div id="pr_infobox">
            <p id="pr_username"></p>
            <a href="#settings" class="pr_sidebar_link">Edit profile</a>
            <p id="pr_friend_count">Friends <span class="pr_highlight" id="pr_friend_count_number">0</span></p>
        </div>
        <div id="pr_friendbox">
            <div class="pr_friend_request_item" id="request_template" style="display: none;">
                <img id="img_template" class="pr_friend_image" src="/media/Profile_avatar_placeholder_large.png">
                <div class="pr_friend_info">
                    <p id="friend_username_template" class="pr_friend_username"></p>
                    <p id="friend_status_template" class="pr_friend_status_on"></p>
                </div>
                <button id="accept-template" class="pr_friend_accept_button"
                    onclick="acceptFriendRequest(this, 'accept')">✓</button>
                <button id="decline-template" class="pr_friend_decline_button"
                    onclick="acceptFriendRequest(this, 'reject')">✕</button>
            </div>
            <div class="pr_friend_item" id="friend_template" , style="display: none;">
                <img id="img_template" class="pr_friend_image" src="/media/Profile_avatar_placeholder_large.png">
                <div class="pr_friend_info">
                    <p id="friend_username_template" class="pr_friend_username"></p>
                    <p id="friend_status_template" class="pr_friend_status_on"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="pr_body">
        <div class="pr_stats_container">
            <div id="pr_history" style="display: none;">
                <p class="pr_stats_header">HISTORY</p>
                <div id="pr_history_template_won" style="display: none;">
                    <div class="pr_history_item">
                        <p class="pr_history_item_title" id="pr_history_title_template"></p>
                        <p class="pr_history_item_winner" id="pr_history_winner_template"></p>
                        <p class="pr_history_item_opponent" id="pr_history_opponent_template"></p>
                    </div>
                    <hr class="hr_stats">
                </div>
                <div id="pr_history_template_lost" style="display: none;">
                    <div class="pr_history_item">
                        <p class="pr_history_item_title" id="pr_history_title_template"></p>
                        <p class="pr_history_item_opponent" id="pr_history_opponent_template"></p>
                        <p class="pr_history_item_loser" id="pr_history_loser_template"></p>
                    </div>
                    <hr class="hr_stats">
                </div>
            </div>
        </div>
        <div class="pr_stats_container">
            <p class="pr_stats_header">STATS</p>
            <p id="pr_stats_subheader_pong">PONG</p>
            <div class="pr_stats_item">
                <p class="pr_stats_text">Victories</p>
                <p class="pr_stats_wins" id="pong_wins"></p>
            </div>
            <hr class="hr_stats">
            <div class="pr_stats_item">
                <p class="pr_stats_text">Losses</p>
                <p class="pr_stats_losses" id="pong_losses"></p>
            </div>
            <hr class="hr_stats">
            <div class="pr_stats_item">
                <div class="pr_stats_item_bar" id="pong_wr_bar"></div>
                <p class="pr_stats_text">Winrate</p>
                <p class="pr_stats_winrate" id="pong_wr_text"></p>
            </div>
            <hr class="hr_stats">
            <p id="pr_stats_subheader_ttt">TIC-TAC-TOE</p>
            <div class="pr_stats_item">
                <p class="pr_stats_text">Victories</p>
                <p class="pr_stats_wins" id="ttt_wins"></p>
            </div>
            <hr class="hr_stats">
            <div class="pr_stats_item">
                <p class="pr_stats_text">Losses</p>
                <p class="pr_stats_losses" id="ttt_losses"></p>
            </div>
            <hr class="hr_stats">
            <div class="pr_stats_item">
                <div class="pr_stats_item_bar" id="ttt_wr_bar"></div>
                <p class="pr_stats_text">Winrate</p>
                <p class="pr_stats_winrate" id="ttt_wr_text"></p>
            </div>
            <hr class="hr_stats">
        </div>
    </div>
</div>