<div id="sc_leaderboard_container">
    <div id="sc_leaderboard_body">
        <table id="scoreboard">
            <tr>
                <th class="sc_place">PLACE</th>
                <th class="sc_name">NAME</th>
                <th class="sc_prestige">PRESTIGE</th>
            </tr>
            <tr id="template_score" style="display: none;">
                <td class="sc_content" id="template_rank">#1</td>
                <td class="sc_content" id="template_name">SkibidiSigma</td>
                <td class="sc_content" id="template_wins">120</td>
            </tr>
        </table>
</div>