

<form>
    <div class="form_container">
        <div class="form_body_xl">
            <p class="form_title">Crear nuevo torneo</p>
            <div class="tour_create_subscroll">
                <input class="form_field_with_margin" type="text" placeholder="Nombre del torneo"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 1"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 2"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 3"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 4"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 5"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 6"/>
                <input class="form_field_with_margin" type="text" placeholder="Jugador 7"/>
            </div>
            <button class="form_main_button">Crear Torneo [Pong]</button>
            <button class="form_main_button_reduced_margin">Crear Torneo [Tic-Tac-Toe]</button>
            <button class="form_settings_button">Volver</button>
        </div>
    </div>
</form>
