
<p id="tournament_name" class="bracket_title"></p>
<div class="bracket_button_container">
    <button class="bracket_button" onclick="DeleteTournament()">Abandonar</button>
    <button class="bracket_button" onclick="StartMatch()">Iniciar</button>
</div>
<div class="bracket_container">
    <div class="bracket_body_outer">
        <p id="bracket_title">Clasificación</p>
            <div class="bracket_body_inner">
                <div id="bracket_qual1"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual2"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual3"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual4"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual5"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual6"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual7"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_qual8"><p class="bracket_player_neutral"></p></div>
                <div id="bracket_semi1"><p class="bracket_player_neutral">???</p></div>
                <div id="bracket_semi2"><p class="bracket_player_neutral">???</p></div>
                <div id="bracket_semi3"><p class="bracket_player_neutral">???</p></div>
                <div id="bracket_semi4"><p class="bracket_player_neutral">???</p></div>
                <div id="bracket_winner"><p class="bracket_player_neutral">??? vs ???</div>
            </div>
    </div>
</div>
<div id="anonymize_confirmation_overlay" class="overlay" style="display: none;">
    <div class="overlay_winner">
        <p><span id="winner_username">[USERNAME]</span> has won the tournament!</p>
        <button class="form_settings_popup_button">Exit</button>
    </div>
</div>