
<form>
    <div class="form_container">
        <div class="form_body_xl">
            <p class="form_title">Create new Tournament</p>
            <div class="tour_create_subscroll">
                <input id="tournament_name" class="form_field_with_margin" type="text" placeholder="Tournament Name"/>
                <input id="guest0" class="form_field_with_margin" type="text" placeholder="Player 1"/>
                <input id="guest1" class="form_field_with_margin" type="text" placeholder="Player 2"/>
                <input id="guest2" class="form_field_with_margin" type="text" placeholder="Player 3"/>
                <input id="guest3" class="form_field_with_margin" type="text" placeholder="Player 4"/>
                <input id="guest4" class="form_field_with_margin" type="text" placeholder="Player 5"/>
                <input id="guest5" class="form_field_with_margin" type="text" placeholder="Player 6"/>
                <input id="guest6" class="form_field_with_margin" type="text" placeholder="Player 7"/>
            </div>
            <button class="form_main_button" type="button" onclick="createTournament('pong')" >Create Tournament [Pong]</button>
            <button class="form_main_button_reduced_margin" type="button" onclick="createTournament('tic-tac-toe')" >Create Tournament [TTT]</button>
            <button class="form_settings_button" type="button">Back</button>
        </div>
    </div>
</form>
