<!-- 
</div>
    <div class="form_container">
        <div class="form_body_xl">
            <p class="form_title">Esperando a los jugadores...</p>
            <div class="tour_options_subscroll">
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_pepe</p>
                    <p class="lobby_player_status_confirmed">✓</p>
                </div>
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_antonio</p>
                    <p class="lobby_player_status_confirmed">✓</p>
                </div>
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_luis</p>
                    <p class="lobby_player_status_pending">✕</p>
                </div>
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_eustaquio</p>
                    <p class="lobby_player_status_pending">✕</p>
                </div>
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_manolo</p>
                    <p class="lobby_player_status_confirmed">✓</p>
                </div>
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_pedro</p>
                    <p class="lobby_player_status_pending">✕</p>
                </div>
                <div class="lobby_player_card">
                    <img class="lobby_player_image" src="../media/placeholders/CK.jpg">
                    <p class="lobby_player_username">Jugador_francisco</p>
                    <p class="lobby_player_status_confirmed">✓</p>
                </div>
            </div>
            <button class="form_main_button">Iniciar Torneo</button>
            <button class="form_main_button_reduced_margin">Eliminar Torneo</button>
        </div>
    </div>
</div> -->


<div class="form_container">
    <div class="form_body_xl">
        <p class="form_title">Esperando a los jugadores...</p>
        <p id="tournament_name"></p>
        <p id="game_type"></p>
        <div class="tour_options_subscroll" id="player_container">
            <!-- Player cards will be dynamically inserted here -->
        </div>
        <button class="form_main_button">Iniciar Torneo</button>
        <button class="form_main_button_reduced_margin">Eliminar Torneo</button>
    </div>
</div>