<div id="splash_panel"><b>Deux jeux.<br>Des millions de<br>possibilités.</b>
    <a href="#register"><div id="splash_subtitle">Montrez votre compétence!</div></a>
</div>
<div id="splash_center_panel">
    Rejoignez-nous maintenant et commencez à jouer. Amusement et<br>compétition vous attendent!
</div>
<div id="games_header">
    <b>Découvrez nos jeux</b>
</div>
<div id="games_textbox">
    C'est ici que les vrais joueurs se rencontrent! Deux jeux, des possibilités<br>
    infinies de se faire des amis, de partager des stratégies et, bien sûr, de gagner.<br>
    Vous êtes partant?
</div>
<div id="games_container">
    <div class="game_card">
        <div class="game_image"></div>
        <p class="game_title">PONG</p>
        <p class="game_subtitle">Créé par: </p>
    </div>
    <div class="game_card">
        <div class="game_image"></div>
        <p class="game_title">TIC-TAC-TOE</p>
        <p class="game_subtitle">Créé par: </p>
    </div>
</div>