<div id="splash_panel"><b>Deux jeux.<br>Des millions de<br>possibilités.</b>
    <a href="#register"><div id="splash_subtitle">Démontrez votre savoir-faire!</div></a>
</div>
<div id="splash_center_panel">
    Inscrivez-vous maintenant et commencez à jouer. Amusement et<br>compétition vous attendent!
</div>
<div id="games_header">
    <b>Découvrez nos jeux</b>
</div>
<div id="games_textbox">
    C'est ici que les vrais joueurs se rencontrent ! Deux jeux, des possibilités<br>
    infinies de se faire des amis, de partager des stratégies et, bien sûr, de gagner.<br>
    Êtes-vous intéressé?
</div>
<div id="games_container">
    <a href="#pong">
    <div class="game_card">
        <div class="game_image">
            <img src="media/pong.png" alt="Pong" width="100%" height="100%">
        </div>
        <p class="game_title">PONG</p>
    </div>
    </a>
    <a href="#tictactoe">
    <div class="game_card">
        <div class="game_image">
            <img src="media/TicTacToe.png" width="100%" alt="TicTacToe" height="100%">
        </div>
        <p class="game_title">TIC-TAC-TOE</p>
    </div>
    </a>
</div>
<hr class="hr_footer">
<div id="footer_container">
    <img id="footer_logo" src="media/Trascendence_Square_Logo.svg">
    <p id="footer_credits">FT_Transcendence a été créé par l'équipe [nom] pour 42 Málaga.<br><br>
        Membres de l'équipe: manujime - abeltran - jzaragoz - fragarci - anamarqu<br><br><br><br><br><br>
        Politique de cookies: <i>Ce site n'utilise pas de cookies.</i></p>
</div>
    <!--footer here-->