<div class="form_container">
    <div class="form_body_xl">
        <p class="form_title">S'INSCRIRE</p>
        <p class="form_label">NOM</p>
        <input class="form_field" type="text"/>
        <p class="form_label">EMAIL</p>
        <input class="form_field" type="text"/>
        <p class="form_label">MOT DE PASSE</p>
        <input class="form_field" type="password"/>
        <button class="form_main_button">S'INSCRIRE</button>
        <p class="form_bottom">Vous avez déjà un compte?</p>
        <a href="#login" class="form_link">Connectez-vous ici</a>
    </div>
</div>