<div class="form_container">
    <div class="form_body_xs">
        <p class="form_title">Profile Options</p>
        <div class="form_field_with_button_container">
            <input class="form_field_with_button" placeholder="Change name" type="text" id="username"/>
            <button class="form_embedded_submit_button" onclick="submitProfileSettings('username', document.getElementById('username').value)"> -></button>
        </div>
        <div class="form_field_with_button_container">
            <input class="form_field_with_button" placeholder="Change email" type="text" id="email"/>
            <button class="form_embedded_submit_button" onclick="submitProfileSettings('email', document.getElementById('email').value)"> -></button>
        </div>
        <div class="form_label_with_checkbox_container">
            <p class="form_checkbox_label">Enable 2FA</p>
            <input type="checkbox" class="form_embedded_checkbox" id="2fa_enabled" onchange="submitProfileSettings('2fa_enabled', this.checked)">
        </div>
        <p class="form_label">Preferred language:</p>
        <div class="form_field_with_button_container">
            <select class="form_field_with_button" id="language_preference">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
            </select>
            <button class="form_embedded_submit_button" onclick="submitProfileSettings('language_preference', document.getElementById('language_preference').value)"> -></button>
        </div>
        
        <button class="form_settings_button">Change profile picture</button>
        <a href="friend_list_editor.html"><button class="form_settings_button">Add/Remove friends</button></a>
        <button class="form_settings_button" onclick="showItem('anonymize_confirmation_overlay')">Anonymize account</button>
        <button class="form_settings_button" onclick="showItem('delete_confirmation_overlay')">Delete account [!]</button>
        <a href="#profile"><button class="form_main_button">Back</button></a>

        <!-- Delete Account Confirmation Overlay -->
        <div id="delete_confirmation_overlay" class="overlay" style="display: none;">
            <div class="overlay_delete">
                <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                <button class="form_settings_button" onclick="deleteAccount()">Delete</button>
                <button class="form_settings_button" onclick="hideItem('delete_confirmation_overlay')">Cancel</button>
            </div>
        </div>
        <!-- Anonymizew Account Confirmation Overlay  -->
        <div id="anonymize_confirmation_overlay" class="overlay" style="display: none;">
            <div class="overlay_anonymize">
                <p>Are you sure you want to anonymize your account? This action cannot be undone.</p>
                <button class="form_settings_button" onclick="anonymizeAccount()">Anonymize</button>
                <button class="form_settings_button" onclick="hideItem('anonymize_confirmation_overlay')">Cancel</button>
            </div>
        </div>
    </div>
</div>