
<form>
    <div class="form_container">
        <div class="form_body_xl">
            <p class="form_title">Créer un nouveau tournoi</p>
            <div class="tour_create_subscroll">
                <input id="tournament_name" class="form_field_with_margin" type="text" placeholder="Nom du tournoi"/>
                <input id="guest0" class="form_field_with_margin" type="text" placeholder="Joueur 1"/>
                <input id="guest1" class="form_field_with_margin" type="text" placeholder="Joueur 2"/>
                <input id="guest2" class="form_field_with_margin" type="text" placeholder="Joueur 3"/>
                <input id="guest3" class="form_field_with_margin" type="text" placeholder="Joueur 4"/>
                <input id="guest4" class="form_field_with_margin" type="text" placeholder="Joueur 5"/>
                <input id="guest5" class="form_field_with_margin" type="text" placeholder="Joueur 6"/>
                <input id="guest6" class="form_field_with_margin" type="text" placeholder="Joueur 7"/>
            </div>
            <button class="form_main_button" type="button" onclick="createTournament('pong')" >Créer un tournoi [Pong]</button>
            <button class="form_main_button_reduced_margin" type="button" onclick="createTournament('tic-tac-toe')" >Créer un tournoi [TTT]</button>
            <button class="form_settings_button" type="button">Sortie</button>
        </div>
    </div>
</form>
