@font-face {
    font-family: "Jetbrains Mono";
    src: url(../media/fonts/JetBrainsMono-Regular.woff2);
}

@font-face {
    font-family: "Jetbrains Mono";
    font-weight: bold;
    src: url(../media/fonts/JetBrainsMono-Bold.woff2);
}

a {
    text-decoration: none;
}

.hr_footer {
    color: white;
    margin-top: 250px;
    margin-bottom: 25px;
    margin-left: 170px;
}

.hr_stats {
    color: white;
    opacity: 100%;
    margin: 0px;
}

.hr_form_separator {
    margin-top: 25px;
}

.tr_header {
    height: 75px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.pr_highlight {
    font-size: 10pt;
    color: #ff4eff;
}

.h_basic {
    font-family: "Jetbrains Mono", serif;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.h_flag {
    width: 100%;
    height: 100%;
}

.h_flag_button {
    margin: 0;
    border: none;
    appearance: none;
    background-color: inherit;
}

.game_card {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid white;
    margin: 10px;
    width: 350px;
    height: 400px;
}
.game_card:hover {
    background-color: #1873d5;
    border-color: #1873d5;
}

.game_image {
    background-color: grey;
    width: 305px;
    height: 300px;
    margin: 20px;
    margin-bottom: 10px;
    align-self: center;
}

.game_title {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 12pt;
    color: white;
    margin-left: 20px;
}

.game_subtitle {
    font-family: "JetBrains Mono";
    font-size: 10pt;
    color: white;
    margin-left: 20px;
}

.form_container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
}

.form_body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "JetBrains Mono";
    background-color: black;
    width: 550px;
    height: 650px;
    border: 1px solid white;
}

.form_body_xl {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "JetBrains Mono";
    background-color: black;
    width: 550px;
    height: 750px;
    border: 1px solid white;
}
.form_body_xxl {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "JetBrains Mono";
    background-color: black;
    width: 550px;
    height: 900px;
    border: 1px solid white;
    margin-bottom: 20px;
}

.form_body_xs {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "JetBrains Mono";
    background-color: black;
    width: 550px;
    height: 600px;
    border: 1px solid white;
    margin-bottom: 20px;
}
.form_title {
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    margin: 15px;
}

.form_field {
    font-size: 16pt;
    width: 75%;
    margin-left: 12.5%;
    color: white;
    padding: 8px;
    padding-left: 12px;
    border: 1px solid white;
    background-color: black;
}

.form_field_with_margin {
    font-size: 16pt;
    width: 75%;
    margin-top: 20px;
    margin-left: 12.5%;
    color: white;
    padding: 8px;
    padding-left: 12px;
    border: 1px solid white;
    background-color: black;
}

.form_field_with_button_container
{
    margin-top: 30px;
    display: flex;
}

.form_field_with_button
{
    font-size: 16pt;
    width: 75%;
    margin-left: 12.5%;
    color: white;
    padding: 8px;
    padding-left: 11.5%;
    border: 1px solid white;
    background-color: black;
    flex-grow: 2;
}

.form_embedded_submit_button {
    font-size: 16pt;
    flex-grow: 1;
    margin-right: 12.5%;
    width: 50px;
    color: black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #9fc2d5;
    margin-left: 2px;
}

.form_embedded_submit_button:hover {
    background-color: #78a4bc;
}

.form_label {
    margin-top: 25px;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 12.5%;
}

.form_label_with_checkbox_container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.form_checkbox_label {
    flex-grow: 1;
    max-width: 67%;
    margin-top: 25px;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 12.5%;
}
.form_embedded_checkbox {
    accent-color: #9fc2d5;
    height: 45px;
    width: 45px;
    margin-top: 18px;
}

.form_main_button {
    font-size: 16pt;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 75px;
    padding: 8px;
    color: white;
    border-style: solid;
    border-color: #ff4eff;
    border-width: 1px;
    background-color: #ff4eff;
}

.form_main_button:hover {
    background-color: #f095f2;
    border-color: #f095f2;
}

.form_main_button_reduced_margin {
    font-size: 16pt;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 25px;
    padding: 8px;
    color: white;
    border-style: solid;
    border-color: #ff4eff;
    border-width: 1px;
    background-color: #ff4eff;
}

.form_main_button_reduced_margin:hover {
    background-color: #f095f2;
    border-color: #f095f2;
}

.form_main_button:hover {
    background-color: #f095f2;
    border-color: #f095f2;
}

.form_main_button_fle
{
    font-size: 16pt;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 31px;
    padding: 8px;
    color: white;
    border-style: solid;
    border-color: #ff4eff;
    border-width: 1px;
    background-color: #ff4eff;
}

.form_main_button_fle:hover {
    background-color: #f095f2;
    border-color: #f095f2;
}

.form_settings_button {
    font-size: 16pt;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 25px;
    padding: 8px;
    color: black;
    border-style: solid;
    border-color: #9fc2d5;
    border-width: 1px;
    background-color: #9fc2d5;
}

.form_settings_button:hover {
    background-color: #78a4bc;
    border-color: #78a4bc;
}

.form_bottom {
    margin-top: 100px;
    font-size: 14pt;
    text-align: center;
}

.form_link {
    font-size: 11pt;
    text-align: center;
    color: #9FC2D5;
}

.form_link:hover {
    font-weight: bold;
}

.pr_friend_item {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pr_friend_request_item {
    display: flex;
    border: solid 1px #d9d441;
    background-color: rgba(217, 212, 65, 0.2);
    flex-direction: row;
    width: 300px;
    height: 78px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pr_friend_item_editor {
    display: flex;
    flex-direction: row;
    height: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pr_friend_accept_button {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-color: #d9d441;
    border-width: 1px;
    background-color: #2E9843;
}

.pr_friend_accept_button:hover {
    background-color: #63b172;
}

.pr_friend_decline_button {
    border-style: none;
    border-color: white;
    padding-top: 3px;
    border-width: 1px;
    background-color: #D95C41;
}

.pr_friend_decline_button:hover {
    background-color: #dd8e7d;
}

.pr_friend_delete
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #D95C41;
}

.pr_friend_delete:hover
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #dd8e7d;
}

.pr_friend_image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.pr_friend_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pr_friend_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pr_friend_username {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 12pt;
    margin: 16px;
    margin-bottom: 0px;
}

.pr_friend_status_on {
    font-family: "JetBrains Mono";
    color: #2E9843;
    font-size: 10pt;
    margin: 16px;
    margin-top: 0px;
}

.pr_friend_status_off {
    font-family: "JetBrains Mono";
    color: #A6A6A7;
    font-size: 10pt;
    margin: 16px;
    margin-top: 0px;
}

.pr_stats_container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 50px;
    width: 600px;
    height: 600px;
}

.pr_stats_header {
    font-family: "JetBrains Mono";
    color: white;
    font-size: 16pt;
    margin-bottom: 70px;
}

.pr_history_item {
    height: 100px;
    width: 100%;
}

.pr_history_item_title {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 16pt;
    color: white;
    margin-top: 7px;
    margin-bottom: 5px;
}

.pr_history_item_winner {
    font-family: "JetBrains Mono";
    font-size: 12pt;
    color: #2E9843;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4ch;
}

.pr_history_item_loser {
    font-family: "JetBrains Mono";
    font-size: 12pt;
    color: #D95C41;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4ch;
}

.pr_history_item_opponent {
    font-family: "JetBrains Mono";
    font-size: 12pt;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4ch;
}

.pr_stats_item {
    display: flex;
    flex-direction: row;
    height: 49px;
    width: 100%;
}

.pr_stats_item_bar {
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.33);
    flex-direction: row;
    height: 49px;
    width: 600px;
    z-index: 0;
}
.pr_stats_text {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    flex-grow: 1;
}

.pr_stats_wins {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    font-weight: bold;
    color: #2E9843;
    margin-top: 10px;
}

.pr_stats_losses {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    font-weight: bold;
    color: #D95C41;
    margin-top: 10px;
}

.pr_stats_draws {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    font-weight: bold;
    color: #d9d441;
    margin-top: 10px;
}

.pr_stats_winrate {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.pr_sidebar_link {
    font-family: "JetBrains Mono";
    font-size: 12pt;
    color: #ff4eff;
    margin-bottom: 0px;
}

.sc_place {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    width: 12.5%;
    height: 40px;
}

.sc_name {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    width: 75%;
}

.sc_prestige {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    width: 12.5%;
}

.sc_content {
    font-family: "JetBrains Mono";
    font-size: 12pt;
    height: 40px;
    border-bottom: white solid 1px;
}

.fle_control_container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #6f42c1;
    margin-top: auto;
}

.fle_add_friends {
    height: 60px;
    width: 50%;
    color: white;
    background-color: #2E9843;
    border: none;
}

.fle_remove_friends {
    height: 60px;
    width: 50%;
    color: white;
    background-color: #D95C41;
    border: none;
}

.settings_language_select_container {
    display: flex;
    flex-direction: row;
    margin-left: 12.5%;
    width: 75%;
}

.settings_language_button {
    font-size: 16pt;
    border-style: solid;
    border-width: 1px;
    background-color: #9fc2d5;
    border-color: #9fc2d5;
    margin-left: 2px;
    flex-grow: 1;
}

.settings_language_button:hover {
    background-color: #78a4bc;
    border-color: #78a4bc;
}

.tour_create_subscroll::-webkit-scrollbar {
    display: none;
}

.tour_create_subscroll {
    color: white;
    overflow-y: scroll;
    height: 390px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tour_options_subscroll::-webkit-scrollbar {
    display: none;
}

.tour_options_subscroll {
    color: white;
    overflow-y: scroll;
    height: 465px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tour_home_subscroll::-webkit-scrollbar {
    display: none;
}

.tour_home_subscroll {
    color: white;
    overflow-y: scroll;
    width: 75%;
    margin-left: 12.5%;
    height: 485px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tour_request_item {
    display: flex;
    border: solid 1px #d9d441;
    background-color: rgba(217, 212, 65, 0.2);
    flex-direction: row;
    width: 100%;
    height: 78px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.tour_accepted_item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 78px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.tour_name {
    font-family: "JetBrains Mono";
    color: #A6A6A7;
    font-size: 10pt;
    margin: 16px;
    margin-top: 0px;
}

.lobby_player_card {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 50px;
    margin-left: 12.5%;
    margin-top: 15px;
}

.lobby_player_username {
    font-size: 16pt;
    margin-top: 10px;
    flex-grow: 1;
}

.lobby_player_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}


.lobby_player_status_confirmed {
    font-size: 24pt;
    margin-top: 3px;
    color: #2E9843;
}

.lobby_player_status_pending {
    font-size: 24pt;
    margin-top: 3px;
    color: #D95C41;
}

.bracket_title {
    font-family: "JetBrains Mono";
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 32pt;
    color: white;
}

.bracket_subtitle {
    font-family: "JetBrains Mono";
    width: 100%;
    text-align: center;
    font-size: 24pt;
    color: white;
}

.bracket_button_container {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.bracket_button {
    color: white;
    font-family: "JetBrains Mono";
    font-size: 16pt;
    width: 200px;
    margin-left: 5px;
    margin-top: 25px;
    padding: 8px;
    border-style: solid;
    border-color: #ff4eff;
    border-width: 1px;
    background-color: #ff4eff;
}

.bracket_button:hover {
    background-color: #f095f2;
    border-color: #f095f2;
}

.bracket_container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}

.bracket_body_header {
    font-family: "JetBrains Mono";
    color: white;
    text-align: center;
}

.bracket_body_outer {
    background-color: black;
    width: 1200px;
    height: 450px;
    border: 1px solid white;
}

.bracket_body_inner {
    display: grid;
    font-family: "JetBrains Mono";
    color: white;
    width: 1150px;
    height: 400px;
    margin-left: 25px;
    margin-right: 25px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
}

.bracket_element {
    border: 1px solid white;
    width: 100%;
    height: 50px;
    text-align: center;
}

.bracket_footer {
    color: white;
    font-family: "JetBrains Mono";
    font-size: 12pt;
    text-align: center;
    margin-top: 25px;
}

.bracket_player_neutral {
    color: white;
    font-family: "JetBrains Mono";
    font-size: 12pt;
    margin-top: 12px;
}

.bracket_player_win {
    color: #2E9843;
    font-family: "JetBrains Mono";
    font-size: 12pt;
    margin-top: 12px;
}

.bracket_player_greyed_out {
    color: grey;
    font-family: "JetBrains Mono";
    font-size: 12pt;
    margin-top: 12px;
}

.bracket_player_next_up {
    color: #ff4eff;
    font-family: "JetBrains Mono";
    font-size: 12pt;
    margin-top: 12px;
}

#bg_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#h_logo_container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    flex-grow: 2;
    height: 100%;
}

#h_logo {
    z-index: 2;
    margin-top: 13px;
    width: 250px;
    height: 50px;
}

#logo_link_override {
    color: white;
}

#h_register {
    font-family: "JetBrains Mono";
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 25px;
    margin-right: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#h_login {
    font-family: "JetBrains Mono";
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 25px;
    border-style: solid;
    border-color: #ff4eff;
    border-width: 1px;
    background-color: #ff4eff;
    text-decoration: none;
}

#h_login:hover {
    background-color: #f095f2;
    border-color: #f095f2;
}

#h_flag_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 150px;
}

#h_logout {
    height: 25px;
    width: 25px;
    margin-bottom: 3px;
    margin-right: 10px;
}

#splash_panel {
    font-family: "JetBrains Mono";
    position: relative;
    margin-top: 225px;
    margin-left: 170px;
    font-size: 32pt;
    color: white;
}

#splash_subtitle {
    font-family: "JetBrains Mono";
    font-size: 16pt;
    margin-top: 40px;
    color: #ff4eff;
}

#splash_subtitle:hover {
    color: #f095f2;
}

#splash_center_panel {
    display: flex;
    font-family: "JetBrains Mono";
    font-size: 16pt;
    margin-top: 300px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
}

#games_header {
    display: flex;
    font-family: "JetBrains Mono";
    font-size: 24pt;
    margin-top: 300px;
    width: 100%;
    justify-content: center;
    color: white;
}

#games_textbox {
    display: flex;
    font-family: "JetBrains Mono";
    font-size: 16pt;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    justify-content: center;
    color: white;
}

#games_container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}

#footer_container {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    justify-content: left;
    width: 80%;
}

#footer_logo {
    height: 290px;
    width: 400px;
}

#footer_credits {
    font-family: "JetBrains Mono";
    font-size: 12pt;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

#pr_structure {
    display: flex;
    flex-direction: row;
}

#pr_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    height: 100vh;
    min-width: 400px;
    background-color: black;
}

#pr_user_image {
    height: 200px;
    width: 200px;
    margin-top: 100px;
    border-radius: 50%;
}

#pr_infobox {
    width: 200px;
}

#pr_username {
    font-family: "JetBrains Mono";
    font-size: 14pt;
    font-weight: bold;
    margin-top: 25px;
    color: white;
}

#pr_friend_count {
    font-family: "JetBrains Mono";
    font-size: 14pt;
    margin-top: 16px;
    color: white;
}

#pr_friendbox::-webkit-scrollbar {
    display: none;
}

#pr_friendbox {
    color: white;
    overflow-y: scroll;
    width: 300px;
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#pr_friendbox_editor::-webkit-scrollbar {
    display: none;
}

#pr_friendbox_editor {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    overflow-y: scroll;
    width: 410px;
    margin-left: 68px;
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#pr_stats_subheader_pong {
    font-family: "JetBrains Mono";
    color: white;
    font-size: 16pt;
    margin-top: 6px;
    margin-bottom: 12px;
}

#pr_stats_subheader_ttt {
    font-family: "JetBrains Mono";
    color: white;
    font-size: 16pt;
    margin-top: 98px;
    margin-bottom: 18px;
}

#pr_body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#sc_leaderboard_container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
}

#sc_leaderboard_body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "JetBrains Mono";
    background-color: black;
    width: 550px;
    padding: 16px;
    padding-bottom: 20px;
    border: 1px solid white;
    text-align: center;
}

#bracket_qual1 {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual2 {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual3 {
    grid-column: 1;
    grid-row: 5;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual4 {
    grid-column: 1;
    grid-row: 6;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual5 {
    grid-column: 7;
    grid-row: 1;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual6 {
    grid-column: 7;
    grid-row: 2;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual7 {
    grid-column: 7;
    grid-row: 5;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_qual8 {
    grid-column: 7;
    grid-row: 6;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_semi1 {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_semi2 {
    grid-column: 2;
    grid-row: 5;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_semi3 {
    grid-column: 6;
    grid-row: 2;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_semi4 {
    grid-column: 6;
    grid-row: 5;
    border: 1px solid white;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_winner {
    grid-column: 4;
    grid-row: 4;
    border: 1px solid white;
    margin-bottom: 25px;
    width: 225px;
    height: 50px;
    text-align: center;
}

#bracket_title {
    font-family: "JetBrains Mono";
    color: white;
    text-align: center;
    margin-top: 5px;
}