<div id="splash_panel"><b>Dos juegos.<br>Millones de<br>posibilidades.</b>
    <a href="#register"><div id="splash_subtitle">¡Demuestra tu habilidad!</div></a>
</div>
<div id="splash_center_panel">
    Unete ahora y empieza a jugar. ¡La diversión y la<br>competición te esperan!
</div>
<div id="games_header">
    <b>Conoce nuestros juegos</b>
</div>
<div id="games_textbox">
    ¡Aquí es donde los verdaderos jugadores se encuentran! Dos juegos, infinitas<br>
    posibilidades de hacer amigos, compartir estrategias y, por supuesto, ganar.<br>
    ¿Te unes?
</div>
<div id="games_container">
    <div class="game_card">
        <div class="game_image"></div>
        <p class="game_title">PONG</p>
        <p class="game_subtitle">Creado por: </p>
    </div>
    <div class="game_card">
        <div class="game_image"></div>
        <p class="game_title">TIC-TAC-TOE</p>
        <p class="game_subtitle">Creado por: </p>
    </div>
</div>