<div id="h_logo"><a id="logo_link_override" href="#" data-route="/">TRANSCENDENCE.</a></div>
<!-- --------------- -->
<div class="language_switcher_container" id="languageSwitcher">
<button class="language-switcher" data-lang="en">EN</button>
<button class="language-switcher" data-lang="es">ES</button>
<button class="language-switcher" data-lang="fr">FR</button>
</div>
<div class="h_basic" id="h_tournaments"><a href="#tournaments">TORNEO</a></div>
<div class="h_basic" id="h_scores"><a href="#scores">PUNTUACIONES</a></div>
<div id="h_register"> <a href="#register">REGISTRARSE</a></div>
<div id="h_login"> <a href="#login">INICIAR SESION</a></div>