
<div class="tr_header">
    <div id="h_logo_container"><a href="#"><img id="h_logo" src="../media/Transcendence_Logo.svg"></a></div>
    <div id="h_flag_container">
        <button class="h_flag_button"><img class="h_flag" src="../media/spanish_flag.svg" data-lang="es"></button>
        <button class="h_flag_button"><img class="h_flag" src="../media/uk_flag.svg" data-lang="en"></button>
        <button class="h_flag_button"><img class="h_flag" src="../media/french_flag.svg" data-lang="fr"></button>
    </div>
    <a href="#tournaments"><div class="h_basic">TORNEOS</div></a>
    <a href="#scoreboard"><div class="h_basic">PUNTUACIONES</div></a>
    <a onclick="goToProfile()" href="#profile"><div class="h_basic">PERFIL</div></a>
    <button class="h_flag_button"><img id="h_logout" src="../media/logout_icon.svg" onclick="AuthLb.logout()"></button>
</div>