<div id="splash_panel"><b>Dos juegos<br>Millones de<br>posibilidades.</b>
    <a href="#register"><div id="splash_subtitle">¡Demuestra tu habilidad!</div></a>
</div>
<div id="splash_center_panel">
    Unete ahora y empieza a jugar. ¡La diversión y la<br>competición te esperan!
</div>
<div id="games_header">
    <b>Conoce nuestros juegos</b>
</div>
<div id="games_textbox">
    ¡Aquí es donde los verdaderos jugadores se encuentran! Dos juegos, infinitas<br>
    posibilidades de hacer amigos, compartir estrategias y, por supuesto, ganar.<br>
    ¿Te unes? 
</div>
<div id="games_container">
    <a href="#pong">
    <div class="game_card">
        <div class="game_image">
            <img src="media/pong.png" alt="Pong" width="100%" height="100%">
        </div>
        <p class="game_title">PONG</p>
    </div>
    </a>
    <a href="#tictactoe">
    <div class="game_card">
        <div class="game_image">
            <img src="media/TicTacToe.png" width="100%" alt="TicTacToe" height="100%">
        </div>
        <p class="game_title">TIC-TAC-TOE</p>
    </div>
    </a>
</div>
<hr class="hr_footer">
<div id="footer_container">
    <img id="footer_logo" src="media/Trascendence_Square_Logo.svg">
    <p id="footer_credits">FT_Transcendence ha sido creado por el equipo "El Fin de la Cosa" para 42 Málaga.<br><br>
        Miembros del equipo: manujime - abeltran - jzaragoz - fragarci - anamarqu<br><br>
        Política de cookies: <i>Este sitio no utiliza cookies.</i><br>
        Política de privacidad: Este sitio solo recopila correo electrónico, nombre de usuario y contraseña. Estos datos se almacenan indefinidamente.<br>
        Los usuarios pueden ejercer sus derechos contactando con el responsable de los datos en la siguiente dirección de correo electrónico: <i>ft42games@gmail.com</i>.<br>
        Los usuarios tienen controles de información en su página de perfil para modificar, anonimizar o eliminar sus datos.<br>
    </p>
</div>