
<div class="form_container">
    <div class="form_body_xs">
        <p class="form_title">Opciones del Perfil</p>
        <div class="form_field_with_button_container">
            <input class="form_field_with_button" placeholder="Cambiar nombre" type="text"/>
            <button class="form_embedded_submit_button"> -></button>
        </div>
        <div class="form_field_with_button_container">
            <input class="form_field_with_button" placeholder="Cambiar email" type="text"/>
            <button class="form_embedded_submit_button"> -></button>
        </div>
        <div class="form_label_with_checkbox_container">
            <p class="form_checkbox_label">Habilitar 2FA</p>
            <input type="checkbox" class="form_embedded_checkbox">
        </div>
        <button class="form_settings_button">Cambiar foto de perfil</button>
        <a href="friend_list_editor.html"><button class="form_settings_button">Añadir/Eliminar amigos</button></a>
        <button class="form_settings_button">Anonimizar cuenta</button>
        <button class="form_settings_button">Eliminar cuenta [!]</button>
        <p class="form_label">Idioma preferido: Español</p>
        <div class="settings_language_select_container">
            <button class="settings_language_button">Español</button>
            <button class="settings_language_button">Inglés</button>
            <button class="settings_language_button">Francés</button>
        </div>
        <a href="profile.html"><button class="form_main_button">Volver</button></a>
    </div>
</div>
