<div class="form_container">
    <div class="form_body_xl">
        <p class="form_title">Torneos</p>
        <button class="form_main_button_reduced_margin">Crear nuevo torneo</button>
        <hr class="hr_form_separator">
        <p class="form_title">Mis invitaciones</p>
        <div class="tour_home_subscroll">
            <div class="tour_request_item">
                <img class="pr_friend_image" src="../media/placeholders/CK.jpg">
                <div class="pr_friend_info">
                    <p class="pr_friend_username">Nombre del anfitrión</p>
                    <p class="tour_name">Nombre del torneo</p>
                </div>
                <button class="pr_friend_accept_button">✓</button>
                <button class="pr_friend_decline_button">✕</button>
            </div>
            <div class="tour_request_item">
                <img class="pr_friend_image" src="../media/placeholders/CK.jpg">
                <div class="pr_friend_info">
                    <p class="pr_friend_username">Nombre del anfitrión</p>
                    <p class="tour_name">Nombre del torneo</p>
                </div>
                <button class="pr_friend_accept_button">✓</button>
                <button class="pr_friend_decline_button">✕</button>
            </div>
            <div class="tour_request_item">
                <img class="pr_friend_image" src="../media/placeholders/CK.jpg">
                <div class="pr_friend_info">
                    <p class="pr_friend_username">Nombre del anfitrión</p>
                    <p class="tour_name">Nombre del torneo</p>
                </div>
                <button class="pr_friend_accept_button">✓</button>
                <button class="pr_friend_decline_button">✕</button>
            </div>
            <div class="tour_accepted_item">
                <img class="pr_friend_image" src="../media/placeholders/CK.jpg">
                <div class="pr_friend_info">
                    <p class="pr_friend_username">Nombre del anfitrión</p>
                    <p class="tour_name">Nombre del torneo</p>
                </div>
            </div>
            <div class="tour_accepted_item">
                <img class="pr_friend_image" src="../media/placeholders/CK.jpg">
                <div class="pr_friend_info">
                    <p class="pr_friend_username">Nombre del anfitrión</p>
                    <p class="tour_name">Nombre del torneo</p>
                </div>
            </div>
            <div class="tour_accepted_item">
                <img class="pr_friend_image" src="../media/placeholders/CK.jpg">
                <div class="pr_friend_info">
                    <p class="pr_friend_username">Nombre del anfitrión</p>
                    <p class="tour_name">Nombre del torneo</p>
                </div>
            </div>
        </div>
    </div>
</div>